body {
    font-family: "Lato", sans-serif;
    background: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 1.5em; /* Adjusted for better fit on smaller screens */
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

.container {
    background: linear-gradient(to bottom, rgb(42, 85, 109), rgb(27, 39, 54));
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    width: 90%;
    padding: 20px; /* Adjusted padding for better fit */
    margin: 20px auto;
    box-sizing: border-box;
    text-align: center;
}

.contact-section {
    background-color: rgba(173, 224, 230, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.text-container h1 {
    font-size: 1.5em; /* Adjusted font size for better fit */
    margin-top: 1vh; /* Reduced margin for smaller screens */
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

.text-container h2 {
    font-size: 1.2em; /* Adjusted font size for better fit */
    font-weight: bold;
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 1.5em; /* Adjusted font size for better fit */
    margin-bottom: 20px;
    color: rgb(100, 149, 237);
    font-weight: bold;
}

.collapsible2 {
    font-weight: bold;
    background-color: rgba(173, 224, 230, 0.5);
    color: white;
    cursor: pointer;
    padding: 15px; /* Reduced padding for better fit */
    width: 100%;
    border: none;
    text-align: left;
    font-family: "Lato", sans-serif;
    outline: none;
    font-size: 1em; /* Adjusted font size for better fit */
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collapsible2::after {
    content: "\2228";
    font-size: 1em; /* Adjusted font size for better fit */
    margin-left: 10px;
}

.content {
    padding: 0 15px; /* Adjusted padding for better fit */
    overflow: hidden;
    background-color: #963846;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

p, ul {
    margin: 10px 0; /* Adjusted margin for better fit */
    line-height: 1.6;
    color: white;
    font-size: 1em; /* Adjusted font size for better fit */
    font-weight: bold;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding-left: 20px;
    text-indent: -20px;
}

ul li::before {
    font-size: 1em; /* Adjusted font size for better fit */
    content: "•";
    color: rgb(240, 240, 240);
    padding-right: 10px;
}

.whatsapp-link, .telegram-link {
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    color: #25D366;
    text-decoration: none;
    font-weight: bold;
}

.whatsapp-icon, .telegram-icon {
    margin-right: 5px;
    vertical-align: middle;
    width: 30px; /* Adjusted width for better fit */
    height: auto; /* Maintain aspect ratio */
}

.profile-img {
    width: 100%; /* Adjust to fit the container */
    max-width: 250px; /* Max width for larger screens */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Adjust border radius */
    object-fit: cover;
}

.image-container {
    display: flex;
    justify-content: center; /* Center align image on smaller screens */
    padding: 10px;
}

.profile-description {
    margin: 20px 0;
}

#schema-therapist-link:hover {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Adjusted for better fit */
    max-width: 600px; /* Max width for larger screens */
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
